@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,900&display=swap');
html, body {
    scroll-behavior: smooth;
}

* {
    font-family: 'Heebo', sans-serif;
}

:root {
    --main-color: rgb(217, 131, 46);
    --main-bg-color: rgb(217, 131, 46);
    --hover-color: rgb(247, 173, 99);
    --text-color: rgb(0, 0, 0);
    --nav-text: rgb(255, 255, 255);
}


body {
    margin: 0;
    padding: 0;
}
.portfolio .navbar  a {
    text-decoration: none;
    cursor: pointer;
    /* color: var(--text-color); */
}
.portfolio {
    display: flex;
}
.portfolio .navbar {
    text-align: center;
    height: 100vh;
    width: 140px;
    position: fixed;
    overflow: auto;
    /* box-shadow: 2px 0px rgb(201, 201, 201); */

    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.12)
}
.portfolio .navbar .name {
    background-color: var(--main-bg-color);
    padding: 10px;
    color: var(--nav-text);
    font-weight: 700;
}
.portfolio .navbar .navbar-link {
    padding: 20px 0px;
    border-bottom: 2px solid rgb(231, 231, 231);
    color: var(--nav-text);
    color: var(--text-color);
    font-weight: 700;
}
.portfolio .navbar .navbar-link:hover {
    color: var(--nav-text);
    background-color:  var(--hover-color);
}

.portfolio .navbar .pt-active {
    color: var(--nav-text);
    background-color:  var(--main-bg-color);
}
.portfolio .mob-nav {
    display: none;
}


.portfolio .content {
    width: calc(100% - 140px);
    margin-left: 140px;
    padding: 4%;
}

/* mobile responsive navbar css  */
.portfolio .mob-nav ul a li{
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    list-style: none;
    height: 100%;
    
}
.portfolio .mob-nav .navbar-link {
    /* padding: 20px 0px; */
    /* border-bottom: 2px solid rgb(231, 231, 231); */
    color: var(--nav-text);
    color: var(--text-color);
    font-weight: 700;
}
.portfolio .mob-nav .navbar-link:hover {
    color: var(--nav-text);
    background-color:  var(--hover-color);
}

.portfolio .mob-nav .pt-active {
    color: var(--nav-text);
    background-color:  var(--main-bg-color);
}

/* about section  */
.about-detail {
    padding: 6px 0;
    line-height: normal;
}
.about-detail {
    display: flex;
}

.project-skill {
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.table-img {
    width: 70px;
}

.progress-size {
    height: 5px !important;
}
@media screen and (max-width:800px) {
    .portfolio .navbar {
        display: none;
    }
    .portfolio .content {
        width: 100%;
        margin-left: 0;
    }
    .portfolio .mob-nav {
        display: block;
        /* box-shadow: 20px 20px rgba(0, 0, 0, 1) */
        
    }
    .portfolio .mob-nav ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        position: fixed;
        bottom: 0;
        font-size: 13px;
        width: 100%;
        /* padding: 2px; */
        background-color: rgb(233, 233, 233);
        height: 60px;
        /* overflow-y: hidden; */

    }
    .portfolio .mob-nav ul li {
        padding: 5px;
    }
}